.logo {
  @include font(700, 26px, 1.19, 0.03em);
  font-family: 'Raleway';
  color: #000000;
  margin-right: 93px;
}

.logo__accent {
  color: var(--accent-color);
}

.nav__link {
  display: block;
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.extra-address__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.extra-address__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--second-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  @include flex();
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.extra-address__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: var(--accent-color);
  }
}

.nav {
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.extra-address {
  display: flex;
  margin-left: auto;
}

.main-header--flex {
  display: flex;
  align-items: center;
}

.main-header {
  border-bottom: 1px solid #eeeeee;
}

.nav__link--current {
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
    bottom: 0;
    left: 0;
  }
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
