body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 94px 0;
}

footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
