@mixin font($fw, $fz, $lh, $ls) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex($dp: flex, $ai: center, $jc: center) {
  display: $dp;
  align-items: $ai;
  justify-content: $jc;
}
